<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Weather | Home</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/">Index</a>
        </li>
        
    </ul>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center main">
                <div>
                    <h1 class="mt-5">Weather Finder</h1>
                    <p class="lead">Enter the zip code, number of days to forecast, and press search!</p>
                </div>
                <div>
                    <form action="/" method="post">
                        <input name="zip_code" type="text" placeholder="Enter zip code here">
                        <input name="days" type="text" placeholder="Enter range of days">
                        <button>Go!</button>
                    </form>
                    
                    <div class="mt-3">
                        <div>
                            Day temperatures for the next {{days}} days:
                        </div>
                        {{weather}}
                        <br>

                        <div>
                            Evening temperatures for the next {{days}} days:
                        </div>
                        {{eve}}
                        {{error}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>